.loginOverlay{
    
    background: var(--blue);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    align-items: center;    
    grid-template-columns: 1fr 1fr;
}
.loginBigLogo{
    position: relative;
    align-self: center;
    margin-left: 30px;
    bottom: 50px;
}

.loginBigLogo img{
    position: absolute;
    left: 2.08%;
    right: 78.89%;
    top: 13.54%;
    bottom: 23.35%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--blue-dark) 100%) center;

}


.loginContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;

}

.loginLogo{
    position: absolute;
    width: 360px;
    height: 76px;
    left: 820px;
    top: 199px;
}



.loginText strong{
    position: absolute;
    width: 191px;
    height: 46px;
    left: 820px;
    top: 371px;
    
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    
    color: var(--white);
}

.loginText img{
    position: absolute;
    left: 820px;
    right: 580px;
    top: 451px;

    transform: matrix(-1,0,0,1,0,0);
}

.loginText div{
    position: absolute;
    width: 254px;    
    height: 80px;
    left: 875px;
    top: 435px;

    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;

    color: #B2B9FF;
    
    
    border-radius: 5px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, var(--blue-dark) 100%) center;

}
/*
.loginBox input {
    position: absolute;
    width: 340px;
    height: 80px;
    left: 820px;
    top: 541px;
    border-radius: 8px;
    border: transparent;

    padding: 12px 20px;

    
    font-family: Inter;
    font-size: 20px;
    line-height: 34px;
    

    color: var(--text-highlight);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, var(--blue-dark) 100%) center;
}



.loginBox input::placeholder{
    height: 34px;
    width: 193px;
    color: var(--text-highlight);
}

*/

.loginBox button{
    width: 80px;
    height: 80px;
    
    position: absolute;
    top: 435px;
    left: 1110px;
    background-color: var(--blue-dark);

    border-radius: 5px;
    border: 0;
}

.loginBox button:focus{
    border: 0;
    outline: none;
    background-color: var(--green);
}

.loginBox button div{
    position: relative;
    left: 24px;
    height: 3px;
    width: 30px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.loginBox button div::after, .loginBox button div::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #fff;
  }
  
  .loginBox button div::after {
    top: -6.5px;
    transform: rotate(45deg);
  }
  
  .loginBox button div::before {
    top: 6.5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }

  .loginBox button:hover{
      background-color: var(--green);
  }
